<h1>Legislator Lookup</h1>

<form>
  <div class="form-group">
    <label for="zip">Zip</label>
    {{input value=zip id="zip"}}
  </div>

  <button class="btn btn-primary" {{action 'zipLookup'}}>Submit</button>
</form>
<br>
<h3>Look-up list of committees</h3>
<button class="btn btn-primary" {{action 'houseLookup'}}>House</button>
<button class="btn btn-primary" {{action 'senateLookup'}}>Senate</button>
<h3>Look-up recent bills</h3>
<button class="btn btn-primary" {{action 'billLookup'}}>Recent Bills</button>
